dump/
data/academic/
data/restaurants/
data/restaurants_by_state/
data/ratings/
data/ratings_*/
data/restaurants.json
data/restaurants_by_state.json
data/ratings.json
data/product_labels.txt
data/user_labels.txt

.DS_Store
.ipynb_checkpoints/
metastore_db/
*.log
__pycache__
*.pyc
