{% set columns = df.columns.values.tolist() %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Restaurant Recommendations</title>
  <meta name="description" content="Restaurant Recommendations">
  <meta name="author" content="Sam Lee">
  <script type="text/javascript"
          src="{{ url_for('static', filename='jquery-3.2.1.min.js') }}">
  </script>
  <!-- <script type="text/javascript"
          src="{{ url_for('static', filename='app.js') }}">
  </script> -->
  <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>
<body>
  <h1>Hello World!</h1>
</body>
</html>
